body{
  background-color: rgb(78, 0, 114);
}
h1{
  font-size: 6vw;
  background-color: rgb(0, 4, 129);
}
.bio{
background-color: aliceblue;
color: gold;
font-size: 2vw;
font-family: fantasy ;
}
#btn{
  display: inline-block;
  text-align: center;
  font-size: 3vw;
  width: auto;
  height: auto;
}
#btn{
  border-radius: 12vw;
}
ul{
  margin-left: auto;
  font-size: 1vw;
  list-style-type: circle;
}
li{
  margin-bottom: 2vw;
}
.bio ul{
  list-style-type: none;
  border-left: 2px;
  padding-left: 25px;
  text-align: left;
}
